/* Пример стилей для цветовой схемы Bleck */
body {
    background-color: #000000; /* Черный фон */
    color: #FFFFFF; /* Белый текст */
}

h1, h2, h3, h4, h5, h6 {
    color: #FF5722; /* Оранжевый заголовок */
}

a {
    color: #FF5722; /* Оранжевая ссылка */
}

a:hover {
    color: #FFFFFF; /* Белый цвет ссылки при наведении */
}

/* Пример стилей для кнопок */
.ty-btn {
    background-color: #FF5722; /* Оранжевая кнопка */
    color: white;
}

.ty-btn:hover {
    background-color: white; /* Белая кнопка при наведении */
    color: #000000; /* Черный текст */
}
